<div>
    <h3 style="text-align: center;">Login</h3>
    <hr>
    <form (ngSubmit)="f.form.valid && authenticate(f)" #f="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" class="form-control"
                   required>
            <div class="error">
                <div class="error" *ngIf="f.submitted && email.invalid">Email is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" ngModel class="form-control"
                   [(ngModel)]="model.password" #password="ngModel" required>
            <div class="error" *ngIf="f.submitted && email.invalid">Password is required</div>
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
        <br>
        Not a User? &nbsp;&nbsp; <a routerLink="/register">Sign Up!</a>
        <div *ngIf="errorMsg" class="error">{{errorMsg}}</div>
    </form>
</div>

